# {{ ansible_managed }}
127.0.0.1       localhost seri seri.sailpointdemo.com
127.0.1.1       debian-12.localdomain   debian-12

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters